p, ul{
	font-family: "Inter";
	font-size: 27px;
	color: black;
}

body {
 background-image: url("./assets/pexels-anton-atanasov-364086.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-color: #3A1078;
}

h2{
	font-family: "Inter";
	font-size: 32px;
	color: #EEA000;
}

a{
	text-decoration:none;
	color:#05A1FF;
}

th, td {
  padding: 10px;
}

input, textarea, select {
  float: left;
	padding: 10px;
  border-radius: 5px;
	border: solid 5px #2E3840;
  -webkit-transition: 0.7s; /* Safari */
  transition: 0.5s;
}

input:hover, textarea:hover, select:hover {
  box-shadow: 0 0 5pt 1pt #2E3840;
}

input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5pt 3pt #2E3840;
	outline-width: 0px;
}

#round_box{
	border-radius: 25px;
	/* border: 2px solid white; */
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	backdrop-filter: blur(40px);
}

#round_box_noblur{
  border-radius: 25px;
  border: 2px solid white;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.badge {
  background-color: #2F58CD;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.buttonFF {
  border-radius: 25px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonFF span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonFF span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonFF:hover span {
  padding-right: 25px;
}

.buttonFF:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonAC {
	width: 70px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
  color: #fff;
  border: 3px solid #e84105;
  background-image: -webkit-linear-gradient(30deg, #e84105 50%, transparent 50%);
  background-image: linear-gradient(30deg, #e84105 50%, transparent 50%);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.buttonAC:hover {
  background-position: 100%;
  color: #e84105;
}

.dropbtn {
  /* background-color: #DDFFFF; */
  color: #000044;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Inter';
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  background: #DDFFFF;
  font-family: 'Inter';
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DDFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #DDFFFF}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #DDFFFF;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
